# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Exercícios

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
numeros = [1,2,3,4,5,6,7,8,9,10]
display(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista2 = ['casa','caro',10,True,2.3,[1,2],(5,4,3,2,1)]
type(lista2[6])

tuple

In [22]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
palavra1 = 'Gente'
palavra2 = ' tem'
palavra3 = ' sabor'
palavra4 = ' carne!'
comentario = 'Ai,ai, eu vou ser preso. kkkk'

piada = palavra1+palavra2+palavra3+palavra4


comentario_preciso = 'é bixa!'

argumento ='O palmeiras não tem mundial.'

display(argumento)

'O palmeiras não tem mundial.'

In [23]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla = (1, 2, 2, 3, 4, 4, 4, 5)

cont = tupla.count(4)

cont

3

In [24]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dicionario = {}

dicionario

{}

In [29]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

dicionario = {'key1':'Max','key2':12, 'key3': 1.67}

display(dicionario)


# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

dicionario['sexo'] = 'Feminino'

print(dicionario)

{'key1': 'Max', 'key2': 12, 'key3': 1.67}

{'key1': 'Max', 'key2': 12, 'key3': 1.67, 'sexo': 'Feminino'}

In [36]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

dicionario2 = {'Nome':'José', 'altura': [1.81, 2], 'Raça': ['preto','parado','indigena']}
display(dicionario2)

print(dicionario2['Nome'])
print(dicionario2['altura'])
print(dicionario2['Raça'])

{'Nome': 'José', 'altura': [1.81, 2], 'Raça': ['preto', 'parado', 'indigena']}

José
[1.81, 2]
['preto', 'parado', 'indigena']

In [50]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

lista4 = ['exercicio 9',(1,2), {'chave1':['valor 1','valor2'],'chave2': [1,2]},1.3 ]

#type(lista4[2])

for i in range(len(lista4)):
    print(type(lista4[i]))
    print(lista4[i],'\n')

<class 'str'>
exercicio 9

<class 'tuple'>
(1, 2)

<class 'dict'>
{'chave1': ['valor 1', 'valor2'], 'chave2': [1, 2]}

<class 'float'>
1.3

In [11]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>